.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	background-color: rgb(16, 165, 153);
	margin: 0 auto;
	text-align: center;
	font-family: 'SinkinSans', 'CaviarDreams';
	color: white;
}
@font-face {
	font-family: 'CaviarDreams';
	src: url('./assets/fonts/CaviarDreams.ttf');
}
@font-face {
font-family: 'SinkinSans';
	src: url('./assets/fonts/SinkinSans-200XLight.otf');
}
h1 {
	font-size: 60px;
	margin-top: 25px;
}
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}